@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* основной цвет, заголовки  #212121 */
/* вторичный цвет, абзацы #757575 */
/* цвет ссылки при наведении, акцент  #2196F3 */
/* футер-почта-номер  rgba(255, 255, 255, 0.6) */
/* футер-адрес #FFFFFF*/
/* фон бекграунд #2F303A */
/* цвет фона блока наша команда #F5F4FA */
/* color bcg hero background: rgba(196, 196, 196, 1);*/
/* цвет ссылок на соцсети background: rgba(175, 177, 184, 1); */
/* фон в секции текста повех картинки: rgba(47, 48, 58, 0.8); */
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #757575;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

/* list  */
ul {
  list-style-type: none;
}

li {
  display: list-item;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* title */
.title {
  color: #212121;
}

/* ссылки */
a {
  text-decoration: none;
  color: #212121;
}

a:hover, a:focus {
  color: #2196f3;
}

/* скрытый заголовок */
.h2-invis {
  display: none;
}

/* чем мы занимаемся */
.container.jobs-img {
  padding-bottom: 94px;
}

.title.h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

/* эффект для всех ховеров и фокусов */
/* :hover,
:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.container-portfolio {
  border-top: 1px solid #ececec;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1200px;
  }
}

/* hero */
.hero {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.hero-page {
  /* background-color: var(--main-bcg);  */
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/decoration/bcgfon.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/decoration/bcgfon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-bottom: 198px;
  padding-top: 118px;
}

@media screen and (min-width: 1200px) {
  .hero-page {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/* модальное окно-overlay(backdrop) */
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
  /* скрываем модальное окно */
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* делает кликабелным все что под модалкой */
.modal {
  background-color: #ffffff;
  min-width: 450px;
  min-height: 581px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .modal {
    min-width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    text-replace: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-button:hover .form-close,
.close-button:focus .form-close {
  fill: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .form {
    width: calc(100% - 30px);
    padding-right: 15px;
  }
}

.form-close {
  width: 16px;
  height: 16px;
}

.form-p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 30px;
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 12px 0 12px 42px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-input:focus {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #2196f3;
  outline: transparent;
}

.form-span {
  position: absolute;
  display: inline-block;
  top: -16px;
  left: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-comment {
  padding: 12px 16px;
}

.person-black,
.phone-black,
.email-black {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

.form-input:focus ~ .form-icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

/* .form-input:focus + .form-label,
  .form-input:not(:placeholder-shown) + .form-label {
    color: inherit;
    transform: translateY(-37px);
    left: 0;
  } */
/* .form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
  
    transform: translateY(-50%); 
   
    display: inline-block;
    width: 12px;
    height: 12px;
  } */
.form .btn-hero {
  width: 200px;
  height: 50px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.form .btn-hero:hover, .form .btn-hero:focus {
  cursor: pointer;
  background: #188CE8;
}

/* checkbox */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-text {
  border-bottom: 1px solid #2196f3;
  color: #2196f3;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 6px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox-lable {
  padding-bottom: 30px;
}

.check-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* на будущее
    .checkbox {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;} */
.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../images/decoration/icon-check-on.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .checkbox-icon {
  background-image: url(../images/decoration/check.svg);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus:checked + .checkbox-icon {
  background-image: url(../images/decoration/icon-check-on.svg);
  background-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

/* logo */
.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-secondary {
  color: #ffffff;
}

.header-logo {
  margin-right: 93px;
}

/* projects  элементы списка*/
/* projects */
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-list {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-div {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-overlay {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.projects-text {
  display: inline-block;
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.projects .portfolio-jobs {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-list .projects-link {
  display: block;
}

.projects-list .projects-link:hover, .projects-list .projects-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-list:nth-child(3n) {
  margin-right: 0;
}

.projects-link:hover .projects-text,
.projects-link:focus .projects-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

/* calc((100% - кол-во маржинов в строке*значение маржина)/кол-во элементов в строке */
/* .projects .item {
     width: calc((100%-60px) / 3);
     margin-right: 30px;
   }
   .projects .item:nth-child(3n) {
     margin-right: 0;
   } */
/* альтернатива
   .projects .item:not(:nth-child(3n)) {
     margin-right: 30px;
   }
   .projects .item:not(:nth-last-child(-n + 3)) {
     margin-bottom: 30px;
   } */
/* social  */
.social-icon {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .logo-icon, .social-link:focus .logo-icon {
  fill: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/* button */
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .buttons-list {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-list {
    width: 100%;
  }
}

.btn-hero {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-hero:hover, .btn-hero:focus {
  color: #ffffff;
  cursor: pointer;
  /* background-color: var(--accent-color); */
}

/* button  кнопки в Portfolio*/
.btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
}

.btn:hover, .btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list:not(:last-child) {
  margin-right: 8px;
}

.btn-footer {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 28px 10px 29px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .btn-footer {
    margin-top: 20px;
  }
}

.btn-footer:hover, .btn-footer:focus {
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

/* header */
.header {
  background-color: #fff;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-close {
  display: none;
}

.menu-container {
  background-color: #ffffff;
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    border-top: 1px solid #ececec;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.menu-container.is-open {
  display: block;
}

.menu-container.auth-nav {
  display: block;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .site-nav.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 60px;
  }
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link,
.auth-nav .link {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
}

.site-nav .link.current {
  position: relative;
  color: #2196f3;
}

.site-nav .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.item:last-child {
  margin-right: 0;
}

.item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item.envelope, .item.vector {
  fill: #757575;
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .item.envelope {
    margin-bottom: 16px;
  }
}

.envelope-icon {
  padding: 0;
  border: none;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.vector-icon {
  padding: 0;
  border: none;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.auth-nav {
  margin-left: auto;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 60px;
  }
}

.auth-nav .link {
  color: #757575;
}

.auth-nav .link,
.auth-nav .envelope-icon,
.auth-nav .vector-icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover .envelope-icon,
.auth-nav .link:focus .envelope-icon,
.auth-nav .link:hover .vector-icon,
.auth-nav .link:focus .vector-icon,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.jobs-img .title,
.team > h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .jobs-img {
    display: none;
  }
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pictures img {
  margin-right: 30px;
  display: block;
}

.pictures img:last-child {
  margin-right: 0;
}

.card {
  position: relative;
}

.card-text {
  width: 450px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.pictures img:last-child {
  margin-right: 0;
}

/* наши работы */
@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
  }
}

.features-list {
  margin-right: 30px;
  margin-bottom: 30px;
}

.features-list:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .features-list {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    width: calc((100% - 30px) / 2);
    margin-right: 15px;
  }
  .features-list:nth-child(2n) {
    margin-right: 0;
  }
  .features-list:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 0;
  }
  .features-list:last-child {
    margin-right: 0;
  }
}

.features-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid transparent;
  background-repeat: 4px;
  background-color: #f5f4fa;
}

.features .title {
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features .title {
    text-align: center;
  }
}

.features p {
  font-style: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.antenna-icon,
.clock-icon,
.diagram-icon,
.astronaut-icon {
  width: 70px;
  height: 70px;
}

/* наша команда */
.bcg-our-team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .container.our-team {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container.our-team {
    width: 768px;
  }
}

.team-list {
  background-color: #ffffff;
  margin-right: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .team-list {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    width: 768px;
    margin: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.team-list:last-child {
  margin-right: 0;
}

.workers > img {
  margin-bottom: 30px;
  display: block;
}

@media screen and (min-width: 480px) {
  .workers > img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .workers > img {
    width: 354px;
    height: 374px;
  }
  .workers > img :not(:last-child) {
    margin-right: 30px;
  }
}

.title.name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.workers-prof {
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 32px 30px;
}

@media screen and (min-width: 480px) {
  .social-list {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .social-list {
    width: 768px;
  }
}

.social-icon:not(:last-child) {
  margin-right: 10px;
}

/* footer */
.footer {
  background-color: #2f303a;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-p {
  margin-bottom: 9px;
  color: #ffffff;
}

.footer-p:last-child {
  margin-bottom: 0;
}

.footer-block {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: auto;
}

.footer-h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  padding-top: 12px;
}

.logo-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-div {
  margin-bottom: 20px;
}

/* .logo-footer.container  */
.footer-social .social-icon {
  margin-bottom: 0;
}

/* footer form */
@media screen and (max-width: 480px) {
  .footer-shared {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .footer-shared {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-input {
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 16px;
}

.footer-distribution {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-distribution .footer-svg {
  margin-left: 10px;
}

/* footer social */
.footer-social {
  margin-bottom: 60px;
  margin-top: 60px;
}

.resourse {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-social .logo-icon {
  fill: #ffffff;
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: #2196f3;
}

/* clients */
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.client {
  height: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .client {
    margin-bottom: 30px;
    width: calc((100% - 60px) / 2);
  }
  .client:nth-child(n + 5) {
    margin-bottom: 0;
  }
  .client:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client {
    width: calc((100% - 3 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client:nth-child(3n + 3) {
    margin-right: 0;
  }
  .client:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    margin-right: 30px;
    width: 170px;
  }
  .client:last-child {
    margin-right: 0;
  }
}

.client:hover, .client:focus {
  border-color: #2196f3;
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1), border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1), border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */