/* logo */
.logo {
    color: $accent-color;
    font-family: $logo-font, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    
    &-secondary {
      color: $white-color;
    }
  }
  
  .header-logo {
    margin-right: 93px;
  }
   