/* выпадающее меню */
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    &-item {
      margin-right: 15px;
      outline: 2px solid tomato;
    }
    
    &-link {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      background-color: teal;
      color: $white-color;
    }
  }

  
  
  