/* footer */
.footer {
  background-color: $main-bcg;
  text-align: center;

  // @media screen and (min-width: $mobile) {
  //   display: flex;
  //   flex-wrap: wrap;
  // }

  & .link {
    color: $footer-color;
    // &:hover,
    // &:focus {
    //   color: $accent-color;

    //   transition-duration: 250ms;
    //   transition-delay: $timing-function;
    // }
  }

  &-p {
    margin-bottom: 9px;
    color: $white-color;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-block {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: auto;
  }

  &-h3 {
    font-family: $main-font, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 20px;
  }
}

.logo-footer {
  text-align: center;
  // .container {
  //   width: 768px;
  // }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 76px;
    padding-right: 89px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
  }
}
.logo-div {
  margin-bottom: 20px;
}

/* .logo-footer.container  */

.footer-social .social-icon {
  margin-bottom: 0;
}

/* footer form */
.footer-shared {
  // display: flex;

  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  text-align: left;
}

.footer-input {
  background-color: $main-bcg;
  width: 450px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 16px;

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}

.footer-distribution {
  position: relative;
  display: inline-block;
  // align-items: center;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .footer-svg {
    margin-left: 10px;
  }
}

/* footer social */
.resourse {
  display: inline-flex;
}
.footer-social .social-list {
  padding: 0;
  margin: 0;
}

.footer-social .logo-icon {
  fill: $white-color;
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: $accent-color;
}

.footer-social {
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}
