/* header */
.header {
  background-color: #fff;
  position: relative;
}
// бургер меню на студию портфолио
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-close {
  display: none;
}

.menu-container {
  background-color: $white-color;
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    text-align: center;
  }

  &.is-open {
    display: block;
  }

  // & .site-nav.list {
  //   display: inline-flex;
  // }

  &.auth-nav {
    display: block;
  }
}

// navigation
.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .site-nav {
//   display: flex;
// }

.site-nav.list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-color;

  transition-duration: 250ms;
  transition-delay: $timing-function;
}

.site-nav .link,
.auth-nav .link {
  display: block;
  font-family: $main-font, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  // padding-top: 32px;
  // padding-bottom: 32px;
  color: $title-text-color;
  position: relative;
}

// .site-nav .link:not(:last-child) {
//   @media screen and (max-width: 767px) {
//     margin-bottom: 40px;
//   }
// }

// .current {
//   content: "";
//   display: block;
//   width: 100%;
//   height: 5px;
//   background-color: $accent-color;
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   transform: scaleX(0);
//   transition: transform 250ms $timing-function;
//   border-radius: 2px;
// }
.site-nav .link.current {
  position: relative;
  color: $accent-color;
}
.site-nav .current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}
// .link.current::after {
//   content: "";
//   display: block;
//   width: 100%;
//   height: 5px;
//   background-color: $accent-color;
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   transform: scaleX(0);
//   transition: transform 250ms $timing-function;
//   border-radius: 2px;
// }
// .site-nav .link:hover::after {
//   transform: scaleX(1);
// }

.item {
  &:last-child {
    margin-right: 0;
  }

  & .link {
    display: flex;
    align-items: center;
  }

  &.envelope,
  &.vector {
    fill: $primary-text-color;
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}
.item.envelope {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}
.envelope-icon {
  padding: 0;
  border: none;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.vector-icon {
  padding: 0;
  border: none;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.auth-nav {
  margin-left: auto;
  color: $primary-text-color;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }

  & .link {
    color: $primary-text-color;
  }

  & .link,
  & .envelope-icon,
  & .vector-icon {
    transition-duration: 250ms;
    transition-delay: $timing-function;
  }
}

.auth-nav .link:hover .envelope-icon,
.auth-nav .link:focus .envelope-icon,
.auth-nav .link:hover .vector-icon,
.auth-nav .link:focus .vector-icon,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: $accent-color;
  fill: $accent-color;
}
