/* footer */
.footer {
  background-color: $main-bcg;
  text-align: center;
  // padding-top: 60px;
  // padding-bottom: 60px;

  @media screen and (min-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
  }

  & .link {
    color: $footer-color;
    // &:hover,
    // &:focus {
    //   color: $accent-color;

    //   transition-duration: 250ms;
    //   transition-delay: $timing-function;
    // }
  }

  &-p {
    margin-bottom: 9px;
    color: $white-color;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-block {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: auto;
  }

  &-h3 {
    font-family: $main-font, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 20px;
    padding-top: 12px;
  }
}

.logo-footer {
  // display: flex;
  justify-content: space-between;

  @media screen and (min-width: $mobile) {
  }
}
.logo-div {
  margin-bottom: 20px;
}

/* .logo-footer.container  */

.footer-social .social-icon {
  margin-bottom: 0;
}
